body {
    background-color: #1b1c24;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h1 {
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #2b2b2b;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  
  nav {
    background-color: #292929;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  li a:hover {
    background-color: #353535;
  }
  
  li a.active {
    background-color: #353535;
  }
  
  @media screen and (max-width: 768px) {
    ul {
      flex-direction: column;
      align-items: flex-start;
    }
  
    li {
      margin-bottom: 0.5rem;
    }
  
    li:last-child {
      margin-bottom: 0;
    }
  }
  